@media(max-width: 767px) {
    .logo {
        width: 74%;
    }

    .padding-acoes {
        padding-top: 20px !important;
    }
}

@media(min-width: 768px) {
    .logo {
        width: 135%;
    }

    .padding-acoes {
        padding-top: 20px !important;
        padding-right: 0 !important;
    }
}